.AccountModal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalRoot {
  width: 400px;
}
.modalRootAppBar {
  position: static !important;
  background: transparent !important;
}
.googleBox{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.googleBTN{
  margin-bottom: 1rem;
}